<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div cardStyle class="card-body">
          <h5 class="card-title">READ</h5>
          <p class="card-text">To view the details of an premium user.</p>
          <button class="btn" btnStyle routerLink="/users">Read User</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div cardStyle class="card-body">
          <h5 class="card-title">CREATE</h5>
          <p class="card-text">To create new user.</p><br>
          <button class="btn" btnStyle routerLink="/create">Create User</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div cardStyle class="card-body">
          <h5 class="card-title">UPDATE/DELETE</h5>
          <p class="card-text">To update or delete an existing user.</p>
          <button class="btn" btnStyle routerLink="/edit">Update or Delete User</button>
        </div>
      </div>
  </div>