<header class="navbar">
    <div class="logo">
        <a routerLink="/home">My Dashboard</a>
    </div>
    <nav class="nav-links" [class.active]="isMenuOpen">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/user/2">My Profile</a></li>
            <li><button (click)="logout()">Logout</button></li>
        </ul>
    </nav>
    <div class="hamburger" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>
<router-outlet></router-outlet>
