<div class="container d-flex flex-column justify-content-center text-center min-vh-100">
  <div class="row">
    <div class="col-12">
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input formControlName="userName" placeholder="Username" /><br><br>
        <input formControlName="password" placeholder="Password" type="password" /><br><br>
        <button btnStyle class="btn btn-secondary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>
  